<p-table #tblAlumnosListar [value]="alumnos" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['idAlumno', 'codigo', 'documentoIdentidad', 'nombres','apellidoPaterno','apellidoMaterno','correoInstitucional']"
    [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
            <p-button (onClick)="onClickCrearAlumno()" label="Crear" icon="pi pi-plus" />
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                    placeholder="Barra de búsqueda" />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="idAlumno">ID<p-sortIcon field="idAlumno" /></th>
            <th pSortableColumn="codigo">Código<p-sortIcon field="codigo" /></th>
            <th pSortableColumn="documentoIdentidad"> Documento Identidad<p-sortIcon field="documentoIdentidad" /></th>
            <th pSortableColumn="nombres">Nombres<p-sortIcon field="nombres" /></th>
            <th pSortableColumn="apellidoPaterno"> Apellido Paterno<p-sortIcon field="apellidoPaterno" /></th>
            <th pSortableColumn="apellidoMaterno"> Apellido Materno<p-sortIcon field="apellidoMaterno" /></th>
            <th pSortableColumn="correoInstitucional"> Correo Institucional<p-sortIcon field="correoInstitucional" />
            </th>
            <!-- <th>Fecha Nacimiento</th>
            <th>Sexo</th>
            <th>Dirección</th> -->
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-alumno>
        <tr>
            <td>{{ alumno.idAlumno }}</td>
            <td>{{ alumno.codigo }}</td>
            <td>{{ alumno.documentoIdentidad }}</td>
            <td>{{ alumno.nombres }}</td>
            <td>{{ alumno.apellidoPaterno }}</td>
            <td>{{ alumno.apellidoMaterno }}</td>
            <td>{{ alumno.correoInstitucional }}</td>
            <td>
                <p-button (onClick)="onClickVerAlumno(alumno)" [style]="buttonStyle" icon="pi pi-eye" size="small" [rounded]="true" severity="info" />
                <p-button (onClick)="onClickEditarAlumno(alumno)" [style]="buttonStyle" icon="pi pi-pencil" size="small" [rounded]="true" severity="warning" />
                <p-button [style]="buttonStyle" icon="pi pi-trash" size="small" [rounded]="true" severity="danger" />
            </td>
        </tr>
    </ng-template>
</p-table>